<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>
<div class="container">
    <h1>{{posts.count}} available posts</h1>
    <div class="list-group">
        {% for post in posts %}
        <a href="#" class="list-group-item list-group-item-action">{{post.headline}}</a>
        {% endfor %}
    </div>
    <h2 class="mt-3">Create new post</h2>
    <form method="post">{% csrf_token %}
        <input class="form-control mb-3" id="headline" type="text" placeholder="Headline">
        <textarea class="form-control mb-3" id="text" rows="10"></textarea>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>